@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.league-details {
    width: 100vw;
    padding: 1.0rem;

    @include tablet {
        padding: 2.0rem 2.25rem;
    }

    &__title {
        @include pageHeader;
        margin: 0;
        padding-bottom: 1.0rem;

        @include tablet {
            padding: 0.25rem 0 2.0rem;
        }
    }

    &__map-info-wrapper {
        @include tablet {
            display: flex;
            align-items: flex-start;
        }
    }

    &__map-image {
        width: 100%;
        border-radius: 4px;

        @include tablet {
            width: 50%;

            &:hover {
                transform: scale(1.4) translate(145px, -20px);
            }
        }
    }

    &__league-info {
        padding-top: 1.0rem;

        @include tablet {
            padding: 0;
            padding-left: 1.5rem;
        }
    }

    &__text {
        @include bodyCopy;
        font-size: 14px;
        margin: 0;
        padding-bottom: 0.25rem;

        @include tablet {
            padding-bottom: 0.4rem;
        }

        &--emphasis {
            font-family: 'Montserrat Bold';
            margin-right: 0.25rem;
            color: $electric-blue;

            @include tablet {
                margin-right: 0.4rem;
            }
        }
    }

    &__dates {
        display: flex;
    }

    &__price {
        margin: 0;
        font-family: 'Montserrat Bold';
        color: $electric-blue;
    }

    &__address {
        padding: 0.5rem 0;

        @include tablet {
            padding: 0.75rem 0;
        }

        &--street {
            padding: 0;
        }

        &--province {
            padding-left: 0.25rem;

            @include tablet {
                padding-left: 0.4rem;
            }
        }
    }

    &__button {
        @include submitButton;
        margin-top: 1.0rem;

        @include tablet {
            width: 100%;
        }

        &--member {
            background-color: $silver;
            border-color: $silver;

            &:hover {
                background-color: $silver;
                cursor: default;
            }
        }

        &--manager {
            background-color: $onyx;
            border-color: $onyx;

            &:hover {
                background-color: $onyx;
                cursor: default;
            }
        }

        &--join {
            background-color: $electric-blue;
            border-color: $electric-blue;

            &:hover {
                background-color: darken($electric-blue, 15%);
                cursor: pointer;
            }
        }
    }

}