@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.page-footer {
    width: 100vw;
    background-color: $onyx;
    padding: 3.0rem 1.0rem;
    margin-top: 2.0rem;

    @include tablet {
        padding: 5.0rem 2.25rem;
    }

    @include desktop {
        padding: 6.0rem 3.5rem;
    }

    &__text {
        @include bodyCopy;
        color: $white;
        font-size: 8px;
        text-align: center;
        margin: 0;
    }
}