@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.add-user {
    width: 100vw;
    padding: 1.5rem 1.0rem;

    &__title {
        @include pageHeader;
        margin: 0;
        padding-bottom: 1.0rem;
    }

    &__user-login {
        @include bodyCopy;
        @include submitButton;
        width: 100%;
        text-align: center;
        display: inline-block;
        text-decoration: none;


    }
}

.add-user-form {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__label {
        @include formLabel;
    }

    &__input {
        @include formInput;
        margin-top: 0.25rem;

        &#avatar {
            border: none;
        }
    }

    &__submit {
        @include submitButton;
        margin-top: 0.5rem;
    }
}