@use './typography' as *;
@use './variables' as *;

@mixin logo {
    font-family: 'Montserrat Black Italic';
    font-size: 16px;
    font-style: italic;
    font-weight: 900;
}

@mixin pageHeader {
    font-family: 'Montserrat Bold';
    font-size: 20px;
    font-weight: 700;
    color: $onyx;
}

@mixin pageSubheader {
    font-family: 'Montserrat Bold';
    font-size: 16px;
    font-weight: 700;
    color: $onyx;
}

@mixin bodyCopy {
    font-family: 'Montserrat Extra Light';
    font-weight: 200;
    font-size: 12px;
    color: $onyx;
}

@mixin formLabel {
    @include bodyCopy;
    font-family: 'Montserrat Bold';
    padding: 0.5rem 0 0;
}

@mixin formInput {
    @include bodyCopy;
    color: $onyx;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 20px;
    border: 1px solid $onyx;
    padding: 0.5rem 1.0rem;

    &::placeholder {
        @include bodyCopy;
        font-size: 10px;
    }

    &:focus-visible {
        outline: 2px solid $teal;
        border: none;
    }
}

@mixin submitButton {
    padding: 0.5rem 1.25rem;
    border-radius: 20px;
    border: 1px solid $teal;
    background-color: $teal;
    color: $white;

    &:hover {
        background-color: darken($teal, 15%);
        cursor: pointer;
    }

    &:focus-visible {
        border: none;
    }
}