@font-face {
    font-family: 'Montserrat Black Italic';
    src: url('../../assets/fonts/Montserrat-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../../assets/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat Extra Light';
    src: url('../../assets/fonts/Montserrat-ExtraLight.ttf');
    font-weight: 200;
}