@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.leagues-card {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 1.0rem;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);

    @include tablet {
        padding: 1.0rem;
        padding-left: 2.0rem;
        margin-bottom: 1.5rem;
    }

    @include desktop {
        padding: 1.25rem;
        padding-left: 2.25rem;
        margin-bottom: 1.75rem;
    }

    &:hover {
        transform: scale(1.02);
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: $onyx;
    }

    &__name {
        margin: 0;
        @include pageSubheader;
        color: $electric-blue;
        font-size: 12px;
        padding-bottom: 0.25rem;
    }

    &__address {
        padding-left: 2.0rem;

        @include tablet {
            padding-left: 8.0rem;
        }

        @include desktop {
            padding-left: 8.5rem;
        }
    }

    &__sport,
    &__start-date,
    &__street,
    &__city {
        @include bodyCopy;
        font-size: 10px;
        margin: 0;
    }


}