@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.leagues-card {
    width: 100%;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;

    &__content {
        display: flex;
    }

    &__name {
        margin: 0;
        @include pageSubheader;
    }

    &__address {
        align-self: flex-end;
    }

    &__sport,
    &__start-date,
    &__street,
    &__city {
        @include bodyCopy;
        margin: 0;
    }

    &__image {
        width: 30%;
    }


}