@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.page-header {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.0rem;
    background-color: $electric-blue;

    @include tablet {
        padding: 2.0rem 2.25rem;
    }

    &__logo {
        @include logo;
        color: $white;
        margin: 0;
    }

    &__link {
        text-decoration: none;
        color: $white;
    }

}

.page-header-nav {
    margin: 0;
    display: flex;
    align-items: center;


    &__list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        margin: 0;
        @include bodyCopy;
        color: $white;

        &:hover {
            color: $silver;
        }
    }

    &__link {
        text-decoration: none;
        color: $white;
    }

    &__login-button {
        @include bodyCopy;
        color: $white;
        border: none;
        margin: 0;
        margin-left: 0.5rem;

        @include tablet {
            margin-left: 1.0rem;
        }

        &:hover {
            color: $silver;
        }
    }
}