@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.join-league-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.join-league {
    width: 90%;
    padding: 1.0rem;
    background-color: white;
    position: relative;
    top: 125px;
    margin: 0 auto;
    border-radius: 4px;

    @include tablet {
        padding: 1.5rem;
    }

    &__title {
        @include pageHeader;
    }

    &__text {
        @include bodyCopy;
        font-size: 14px;

        &--emphasis {
            font-family: 'Montserrat Bold';
            color: $electric-blue;
        }
    }

    &__label {
        @include formLabel;
        padding: 0 0.5rem;

        @include tablet {
            padding: 0 1.0rem;
        }

    }

    &__checkbox {
        margin: 0;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 1.0rem;

        @include tablet {
            margin: 2.0rem 0 0.5rem;
            justify-content: space-between;
        }
    }

    &__button {
        @include submitButton;

        @include tablet {
            width: 45%;
        }

        &--cancel {
            background-color: $onyx;
            border-color: $onyx;
            margin-right: 0.5rem;

            @include tablet {
                margin-right: 0;
            }

            &:hover {
                background-color: darken($onyx, 15%);
                cursor: pointer;
            }
        }
    }
}