@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.profile {
    width: 100vw;
    padding: 1.0rem;

    &__title {
        @include pageHeader;
        margin: 0;
        padding-bottom: 1.0rem;
    }

    &__user {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.75rem;
    }

    &__avatar {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 0.5px solid $teal;
    }

    &__user-details {
        margin-top: 0.25rem;
        padding-left: 0.5rem;
    }

    &__text {
        @include bodyCopy;
        margin: 0;
        padding-bottom: 0.25rem;

        &--emphasis {
            font-family: 'Montserrat Bold';
            padding-right: 0.5rem;
        }
    }

    &__league-list {
        margin: 0;
        padding: 0;
        padding-bottom: 1.0rem;
        list-style: none;
    }

    &__league-list-item {
        background-color: lighten($silver, 10%);
        padding: 0.25rem;
        border-radius: 4px;
        margin-bottom: 0.25rem;

        &:hover {
            transform: scale(1.02);
            background-color: $silver;
        }
    }

    &__league-link {
        @include bodyCopy;
        display: inline-block;
        width: 100%;
        text-decoration: none;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__button {
        @include submitButton;
        width: 100%;
        margin-top: 0.5rem;

        &--logout {
            background-color: $onyx;
            border-color: $onyx;

            &:hover {
                background-color: darken($onyx, 15%);
            }
        }
    }

}