@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.login {
    width: 100vw;
    padding: 1.0rem;

    @include tablet {
        padding: 2.0rem 2.25rem;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include pageHeader;
        margin: 0;
        padding-bottom: 1.0rem;

        @include tablet {
            padding: 0.25rem 0 2.0rem;
        }
    }

    &__new-user {
        @include bodyCopy;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        margin-top: 0.5rem;
        color: $onyx;

        &:hover {
            color: $silver;
        }

    }
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
        max-width: 50%;
        align-self: flex-end;
    }

    &__label {
        @include formLabel;
    }

    &__input {
        @include formInput;
        margin-top: 0.25rem;
    }

    &__submit {
        @include submitButton;
        margin-top: 0.5rem;

        @include tablet {
            margin-top: 1.5rem;
        }
    }
}