@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.add-league {
    width: 100vw;
    padding: 1.5rem 1.0rem;

    @include tablet {
        padding: 2.0rem 2.25rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    @include desktop {
        padding: 2.25rem 3.5rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__title {
        @include pageHeader;
        margin: 0;
        padding-bottom: 1.0rem;

        @include tablet {
            padding-bottom: 2.0rem;
        }

        @include desktop {
            padding-bottom: 2.25rem;
        }
    }
}

.add-league-form {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__wrapper {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }

        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }

    &__user-info {
        @include tablet {
            width: 45%;
        }

        @include desktop {
            width: 45%;
        }
    }

    &__user-address {
        @include tablet {
            width: 45%;
        }

        @include desktop {
            width: 45%;
        }
    }

    &__label {
        @include formLabel;
    }

    &__input {
        @include formInput;
        margin-top: 0.25rem;

        @include tablet {
            margin: 0.5rem 0;
        }

        @include desktop {
            margin: 0.75rem 0;
        }

        &#add-league_gender {
            appearance: none;
        }

        &#add-league_description {
            resize: none;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        @include tablet {
            width: 45%;
            align-self: flex-end;
        }

        @include desktop {
            width: 45%;
            align-self: flex-end;
        }
    }

    &__button {
        @include submitButton;
        margin-top: 0.5rem;

        @include tablet {
            width: 45%;
            margin-top: 1.5rem;
        }

        @include desktop {
            width: 45%;
            margin-top: 1.75rem;
        }

        &--cancel {
            background-color: $onyx;
            border-color: $onyx;
            text-decoration: none;
            text-align: center;

            @include tablet {
                margin-right: 0;
            }

            @include desktop {
                margin-right: 0;
            }

            &:hover {
                background-color: darken($onyx, 15%);
                cursor: pointer;
            }
        }
    }
}