@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.hero {
    width: 100vw;
    padding: 1.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        @include pageHeader;
        font-size: 24px;
        text-align: center;
        margin: 0;
        padding: 1.0rem 0 0.5rem;
    }
}

.hero-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.0rem;

    &__inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input {
        width: 100%;
        margin: 0.5rem 0;
        border-radius: 20px;
        border: 1px solid $onyx;
        padding: 0.5rem 1.0rem;

        &::placeholder {
            @include bodyCopy;
        }

        &:focus-visible {
            outline: 2px solid $teal;
            border: none;
        }
    }

    &__submit {
        padding: 0.5rem 1.25rem;
        border-radius: 20px;
        border: 1px solid $teal;
        background-color: $teal;
        color: $white;
        margin-top: 0.5rem;

        &:focus-visible {
            border: none;
        }
    }
}