@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.hero {
    width: 100vw;
    padding: 1.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        padding: 2.0rem 2.25rem;
    }

    &__title {
        @include pageTitle;
        text-align: center;
        margin: 0;
        padding: 1.0rem 0 0.5rem;

        @include tablet {
            padding: 1.25rem 0 2.0rem;
        }
    }
}

.hero-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.0rem;

    @include tablet {
        padding-bottom: 2.0rem;
    }

    &__inputs {
        width: 100%;
        max-width: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            max-width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    &__input {
        @include formInput;

        @include tablet {
            width: 47%;
        }
    }

    &__submit {
        @include submitButton;
        margin-top: 0.5rem;

        @include tablet {
            margin-top: 1.0rem;
            width: 225px;
        }
    }
}